xsdvalidater/xsdvalidater/src/main/resources/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://crd.gov.pl/wzor/2023/06/29/12648/"
           targetNamespace="http://crd.gov.pl/wzor/2023/06/29/12648/"
           elementFormDefault="qualified">

    <xs:simpleType name="TZnakowy">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TNrNIP">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TDataT">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>

    <xs:simpleType name="TKwotowy">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="18"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TStawkaPodatku">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TIlosci">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="22"/>
            <xs:fractionDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TKodFormularza">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="kodSystemowy" type="xs:string" use="required"/>
                <xs:attribute name="wersjaSchemy" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="TNaglowek">
        <xs:sequence>
            <xs:element name="KodFormularza" type="tns:TKodFormularza"/>
            <xs:element name="WariantFormularza" type="xs:int"/>
            <xs:element name="DataWytworzeniaFa" type="xs:dateTime"/>
            <xs:element name="SystemInfo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TDaneIdentyfikacyjne">
        <xs:sequence>
            <xs:element name="NIP" type="tns:TNrNIP"/>
            <xs:element name="Nazwa" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TAdres">
        <xs:sequence>
            <xs:element name="KodKraju" type="xs:string"/>
            <xs:element name="AdresL1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TDaneKontaktowe">
        <xs:sequence>
            <xs:element name="Email" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TPodmiot1">
        <xs:sequence>
            <xs:element name="DaneIdentyfikacyjne" type="tns:TDaneIdentyfikacyjne"/>
            <xs:element name="Adres" type="tns:TAdres"/>
            <xs:element name="DaneKontaktowe" type="tns:TDaneKontaktowe" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TPodmiot2">
        <xs:sequence>
            <xs:element name="DaneIdentyfikacyjne" type="tns:TDaneIdentyfikacyjne"/>
            <xs:element name="Adres" type="tns:TAdres"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TFaWiersz">
        <xs:sequence>
            <xs:element name="NrWierszaFa" type="xs:positiveInteger"/>
            <xs:element name="P_7" type="xs:string"/>
            <xs:element name="P_8A" type="xs:string"/>
            <xs:element name="P_8B" type="tns:TIlosci"/>
            <xs:element name="P_9A" type="tns:TKwotowy"/>
            <xs:element name="P_11" type="tns:TKwotowy"/>
            <xs:element name="P_12" type="tns:TStawkaPodatku"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TAdnotacje">
        <xs:sequence>
            <xs:element name="P_16" type="xs:int"/>
            <xs:element name="P_17" type="xs:int"/>
            <xs:element name="P_18" type="xs:int"/>
            <xs:element name="P_18A" type="xs:int"/>
            <xs:element name="Zwolnienie">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="P_19N" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NoweSrodkiTransportu">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="P_22N" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="P_23" type="xs:int"/>
            <xs:element name="PMarzy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="P_PMarzyN" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TFa">
        <xs:sequence>
            <xs:element name="KodWaluty" type="xs:string"/>
            <xs:element name="P_1" type="tns:TDataT"/>
            <xs:element name="P_2" type="tns:TZnakowy"/>
            <xs:element name="P_13_1" type="tns:TKwotowy"/>
            <xs:element name="P_14_1" type="tns:TKwotowy"/>
            <xs:element name="P_13_2" type="tns:TKwotowy"/>
            <xs:element name="P_14_2" type="tns:TKwotowy"/>
            <xs:element name="P_13_3" type="tns:TKwotowy"/>
            <xs:element name="P_14_3" type="tns:TKwotowy"/>
            <xs:element name="P_13_4" type="tns:TKwotowy"/>
            <xs:element name="P_14_4" type="tns:TKwotowy"/>
            <xs:element name="P_13_5" type="tns:TKwotowy"/>
            <xs:element name="P_13_7" type="tns:TKwotowy"/>
            <xs:element name="P_15" type="tns:TKwotowy"/>
            <xs:element name="Adnotacje" type="tns:TAdnotacje"/>
            <xs:element name="RodzajFaktury" type="xs:string"/>
            <xs:element name="FaWiersz" type="tns:TFaWiersz" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Faktura">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Naglowek" type="tns:TNaglowek"/>
                <xs:element name="Podmiot1" type="tns:TPodmiot1"/>
                <xs:element name="Podmiot2" type="tns:TPodmiot2"/>
                <xs:element name="Fa" type="tns:TFa"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>